* {
  /* 禁止拖拽 */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

:root {
  /* 默认值：安卓 / 桌面都为 0 */
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
}

/* 允许输入框和文本区域的文本选择 */
input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

html,
body {
  /* 禁止页面滚动弹性效果 */
  overscroll-behavior: none;

  /* 禁止触摸操作 */
  touch-action: pan-y;

  /* 防止页面被拖拽 */
  -webkit-overflow-scrolling: touch;

  /* 固定页面宽度，防止横向滚动 */
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;

  /* 开启安全区适配 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.mb-16 {
  margin-bottom: 16px;
}

.page-title {
  font-size: 1.25rem;
  font-weight: 600;
}
